body {
margin: 0;
padding: 0;
}

nav {
    display: flex;
    gap: 18px;   
    flex: 1;
}

.hero {
    background-color: #1F2937;
    padding: 16px 400px
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #FAF9F8;
    font-weight: bolder;
}

.sec {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #FAF9F8;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
    flex: 1;
}

.first-button {
    background-color: #3882F6;
    color: #FAF9F8;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    border: 0;
    margin: 10px 0px;
    
}

.container {
    display: flex;
   margin: 50px 0px;
}

.hero-img {
    height: 230px;
    flex: 1;
    background-color: black;
    
}

a {
    text-decoration: none;
}

